*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#data{
    /* border: 1px solid green; */
    width: 100%;
    height: 600px;
    display: flex;
    padding: 20px;
    padding-left: 35px;
}
#data1{
    /* border: 1px solid red; */
    width: 35%;
    height: 400px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    padding: 40px;
}
#data1>h1{
    text-align: center;
     font-family: ProximaNovaLight, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
     font-size: 22.5px;

}
#data2{
    /* border: 1px solid blue; */
    width: 63%;
     margin-left: 37px;
    height: 100%;
    display: flex;
     flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 33.5px;
}
#hh{
    /* border: 1px solid red; */
    width: 100%;
    align-items: baseline;
    height: auto;
    color: 333333;
     font-family: ProximaNovaLight, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
     font-size: 22.5px;
      
      letter-spacing: normal;
      text-align: center;
      line-height: 31.5px;
      
}
#d2{
    /* border: 1px solid black; */
    width: 100%;
    height: 250px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 125px 125px;
}
#d2>div{
    width: 100%;
    height: 100%;
    padding: 10px;
    /* border: 1px solid pink; */
}
#d2>div>p{
    text-align: center;
}#d2>div>img{
   margin-left: -5%;
    
    
}
#data2>div{
    /* border: 1px solid rebeccapurple; */
    width: 170px;
    height: 168px;
   
    margin-top:  0px;
    
}
#data2>div>img{
    height: 100%;
    width: 100%;
    margin: 0px;
}
#data2>div>img:hover{
    cursor: pointer;
}
#info{
    /* border: 1px solid red; */
    width: 100%;
     margin-top: 35px;
    height: 330px;
    display: flex;
    flex-direction: row;
}
#info>div{
    /* border:1px solid red; */
    width: 47%;
    height: 95%;
    margin: auto;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    padding: 30px;
}
#inP{
  /* border: 1px solid red; */
  width: 100%;
  height: auto;
  margin: auto;
  font-family: ProximaNovaLight, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
font-size: 22.5px;
line-height: 31.5px;
text-align: center;
letter-spacing: normal;
color: 333333;
}
#inmid{
    /* border: 1px solid black; */
    width: 100%;
    height: 150px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    column-gap: 10px;
}
#inmid>div{
    /* border: 1px solid green; */
    width: 24%;
    height: 100%;
    text-align: center;
}
#inmid>div img{
     margin-top: 20px;
    margin-left: -30px;
    
}
#btn{
    color: rgb(241,255,255);
    background-color: rgb(30,135,240);
    margin-top: -10px;
     height: 40px;
     border: 0px;
     width: 50%;
     margin-left: 25%;
     cursor: pointer;
}
#btn1{
    color: rgb(241,255,255);
    background-color: rgb(30,135,240);
     margin-top: -10px;
     height: 40px;
     border: 0px;
     width: 60%;
     margin-left: 20%;
     cursor: pointer;
}
#tpd>p{
    margin-left: -45px;
    margin-top: 60px;
    
}
#sh{
    margin-left: 50px;
    color: rgb(147,137,241);
      
     text-decoration: double;
     font-family: ProximaNova, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
   font-size: 13.125px;
    margin-top: -1000px;
    

    }
#sh:hover{
    color: blue;
     text-decoration: underline;
}
#fotter{
    border: 1px solid red;
    width: 100%;
    height: 600px;
    margin: auto;
    margin-top: 50px;
    padding: 30px;
}
#fotter #pp{
    border: 1px solid green;
    width: 100%;
    height: auto;
    font-family: ProximaNovaLight, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    line-height: 31.5px;
    font-size: 22.5px;
    text-align: start;
    letter-spacing: normal;
}
#fotter #ppp{
    border: 1px solid green;
    width: 50%;
    height: auto;
    justify-content: space-between;
    margin-top: 30px;
    display: flex;
    text-align: start;
    color: gray;
    cursor: pointer;
}
 #ppp:hover{
    text-decoration: underline;
     color: black;
}
 #lo{
    border: 0px solid red;
    background-color: none;
    background-color: rgb(38,38,38);
    color: white;
    font-family: ProximaNova, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 15px; 
    /* margin-left: 10px; */
    margin-right: 30px;

}
 #lo:hover{
    text-decoration: underline;
    cursor: pointer;
 }
 #us{
    color: white;
    /* margin-right:  -20px; */
   size: 100px;
 }
 
  
 
 .parent{
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    margin: auto;
    column-gap: 20px;
    width: 100vw;
     margin-top: -30px;
     
}
.child{
cursor: pointer;
     margin-left: -0px;
    display: none;
        width: 240px;
}
.child img:hover{
 box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
 
    
}
.child img{
 width: 230px;
 height: 150px;
}
#leftarow {
    margin-left: -30px;
    margin-right: -50px;
    width: 3%;
    display: inline-block;
}
#leftarow button,#rgtarow button{
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    /* display: inline-block; */
}
#pmain{
    /* border: 1px solid red; */
     margin: auto;
width: 90%;
    
}
 .parent img{
width: 100%;
}
#data2>div:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
 
 
*{
 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 #nav{
    /* border: 1px solid red; */
    width: 100%;
    height: 55px;
   display: flex;
   
 background-color: rgb(38,38,38);
justify-content: space-between;
 

 }
 #end{
    width: 10%;
    height: 55px;
    /* border: 2px solid rgb(252, 237, 237); */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: center;
 }
 
 
  img{
     width:150px;
     margin: 15px;
     height: 25.7px;
       align-items: center;
    }
 
     #mid {
        /* border: 1px solid red; */
         width: 100vw;
         height: 425px;
         /* position: relative;
        background-image: url('https://d2v8elt324ukrb.cloudfront.net/static/new_template/media/Pimal2-1.2d5d237dbd32.jpg');
         */
     }
   #mid>div{
    background-image: url('https://d2v8elt324ukrb.cloudfront.net/static/new_template/media/Pimal2-1.2d5d237dbd32.jpg');
width: 100%;
height: 100%;  
filter: brightness(50%);
}
#mid>div>h1{
    color: white;
}
 
      
 
  #tpd{
    font-size: 22.25px;
    font-weight: 300;
    line-height: 31.5px;
    text-decoration: none solid rgb(0,0,0 );
    height: 31px;
    width: 90%;
    margin: auto;
    margin: 0px,0xp,20px,0px;
    display: block;
    font-family: ProximaNovaLight, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    letter-spacing: normal;
text-align: start;  

margin-top: 40px;
}
#slmid{
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.chlid{
    width: 20%;
    height: 90%;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    /* display: none; */
 
   
}
.chlid img{
    width: 200px;
    height: 150px;
    margin-left: -0px;
    margin-top: -0px;
     
}
#leftsl,#rgtsl{
    margin-left: 8px;
    width: 2%;
    display: inline-block;
    align-items: center;

}
#rgtsl button,#leftsl button{
    font-weight: bold;
    cursor: pointer;
    font-size: 15px;
}
 
#us:hover{
 cursor: pointer;
}
#mid{
    border: 1px solid rgb(1, 2, 1);
    width: 100%;
    margin: auto;
    height: 450px;
    background-image: url(image/back_ground\ img.jpg);
    text-align: start;
     isolation: isolate;
   background-size: cover;
   
   
}
#pg{
    /* border: 1px solid red; */
     
    width: 70%;
    margin: auto;
    height: auto;
    color: white;
    margin-top: 140px;
    font-size: 30px;
    font-family: ProximaNovaLight, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    line-height: 36px;
     font-weight: bold;
}
#src{
    width: 63.4%;
    /* border: 1px solid yellow; */
    height: 60px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: auto;
    justify-content: start;
    background-color: white;
    margin-top: 40px;
    margin-left: 200px;
    padding-left: 0px;
}
 
 #s{
    width: 200px;
    background-color: rgb(30,135,240);
      
     width: 150px;
    height: 40px;
    text-align: center;
    color: white;
    border: 0px;
 }
 #s:hover{
    cursor: pointer;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
background-color:rgb(13, 120, 227) ;

 }
 #cl{
    /* background-color: grey; */
    width: 140px;
    text-align: center;
    height: 40px;
    
 }
 #fr{
    margin-left: -0px;
    width: 240px;
    height: 40px;
    text-align: center;
 }
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#data{
    /* border: 1px solid green; */
    width: 100%;
    height: 600px;
    display: flex;
    padding: 20px;
    padding-left: 35px;
}
#data1{
    /* border: 1px solid red; */
    width: 35%;
    height: 400px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    padding: 40px;
}
#data1>h1{
    text-align: center;
     font-family: ProximaNovaLight, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
     font-size: 22.5px;

}
#data2{
    /* border: 1px solid blue; */
    width: 63%;
     margin-left: 37px;
    height: 100%;
    display: flex;
     flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 33.5px;
}
#hh{
    /* border: 1px solid red; */
    width: 100%;
    align-items: baseline;
    height: auto;
    color: 333333;
     font-family: ProximaNovaLight, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
     font-size: 22.5px;
      
      letter-spacing: normal;
      text-align: center;
      line-height: 31.5px;
      
}
#d2{
    /* border: 1px solid black; */
    width: 100%;
    height: 250px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 125px 125px;
}
#d2>div{
    width: 100%;
    height: 100%;
    padding: 10px;
    /* border: 1px solid pink; */
}
#d2>div>p{
    text-align: center;
}#d2>div>img{
   margin-left: -5%;
    
    
}
#data2>div{
    /* border: 1px solid rebeccapurple; */
    width: 170px;
    height: 168px;
    
    margin-top:  0px;
    
}
#data2>div>img{
    height: 100%;
    width: 100%;
    margin: 0px;
}
#data2>div>img:hover{
    cursor: pointer;
}
#info{
    /* border: 1px solid red; */
    width: 100%;
     margin-top: 35px;
    height: 330px;
    display: flex;
    flex-direction: row;
}
#info>div{
    /* border:1px solid red; */
    width: 47%;
    height: 95%;
    margin: auto;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    padding: 30px;
}
#inP{
  /* border: 1px solid red; */
  width: 100%;
  height: auto;
  margin: auto;
  font-family: ProximaNovaLight, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
font-size: 22.5px;
line-height: 31.5px;
text-align: center;
letter-spacing: normal;
color: 333333;
}
#inmid{
    /* border: 1px solid black; */
    width: 100%;
    height: 150px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    column-gap: 10px;
}
#inmid>div{
    /* border: 1px solid green; */
    width: 24%;
    height: 100%;
    text-align: center;
}
#inmid>div img{
     margin-top: 20px;
    margin-left: -30px;
    
}
#btn{
    color: rgb(241,255,255);
    background-color: rgb(30,135,240);
    margin-top: -10px;
     height: 40px;
     border: 0px;
     width: 50%;
     margin-left: 25%;
     cursor: pointer;
}
#btn1{
    color: rgb(241,255,255);
    background-color: rgb(30,135,240);
     margin-top: -10px;
     height: 40px;
     border: 0px;
     width: 60%;
     margin-left: 20%;
     cursor: pointer;
}
#tpd>p{
    margin-left: -45px;
    margin-top: 60px;
    
}
#sh{
    margin-left: 50px;
    color: rgb(147,137,241);
      
     text-decoration: double;
     font-family: ProximaNova, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
   font-size: 13.125px;
    margin-top: -1000px;
    

    }
#sh:hover{
    color: blue;
     text-decoration: underline;
}
#fotter{
    border: 0px;
     
    width: 100%;
    height: 600px;
    margin: auto;
    margin-top: 50px;
    padding: 30px;
}
#fotter #pp{
    border: 0px;
    width: 100%;
    height: auto;
    font-family: ProximaNovaLight, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    line-height: 31.5px;
    font-size: 22.5px;
    text-align: start;
    letter-spacing: normal;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
    /* box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px; */
}
#fotter #ppp{
     
    width: 50%;
    height: auto;
    justify-content: space-between;
    margin-top: 30px;
    display: flex;
    text-align: start;
    color: gray;
    cursor: pointer;
}
 #ppp:hover{
    text-decoration: underline;
     color: black;
     box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}
 #lo{
    
    background-color: none;
    background-color: rgb(38,38,38);
    color: white;
    font-family: ProximaNova, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 15px; 
    /* margin-left: 10px; */
    margin-right: 30px;

}
 #lo:hover{
    text-decoration: underline;
    cursor: pointer;
 }
 #us{
    color: white;
    /* margin-right:  -20px; */
   size: 100px;
 }
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 #nav{
    /* border: 1px solid red; */
    width: 100%;
    height: 55px;
   display: flex;
   
 background-color: rgb(38,38,38);
justify-content: space-between;
 

 }
 #end{
    width: 10%;
    height: 55px;
    /* border: 2px solid rgb(252, 237, 237); */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: center;
 }
 
 
  img{
     width:150px;
     margin: 15px;
     height: 25.7px;
       align-items: center;
    }
     
    
 
  #tpd{
    font-size: 22.25px;
    font-weight: 300;
    line-height: 31.5px;
    text-decoration: none solid rgb(0,0,0 );
    height: 31px;
    width: 90%;
    margin: auto;
    margin: 0px,0xp,20px,0px;
    display: block;
    font-family: ProximaNovaLight, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    letter-spacing: normal;
text-align: start;  

margin-top: 40px;
}
#slmid{
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.chlid{
    width: 20%;
    height: 90%;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    /* display: none; */
 
   
}
.chlid img{
    width: 200px;
    height: 150px;
    margin-left: -0px;
    margin-top: -0px;
     border: 1px dotted gray;
}
#leftsl,#rgtsl{
    margin-left: 8px;
    width: 2%;
    display: inline-block;
    align-items: center;

}
#rgtsl button,#leftsl button{
    font-weight: bold;
    cursor: pointer;
    font-size: 15px;
}
 
#sd1div{
    /* border: 1px solid red; */
    width: 90%;
    height: 250px;
    margin: auto;
    margin-top: 50px;
    padding: 30px;
 
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    
    
}

#sd1div:hover{
    box-shadow:rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
 
}
#sdp{
    /* border: 1px solid green; */
    width: 100%;
    height: auto;
    text-align: center;
      font-family: ProximaNovaLight, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif
 ;
       
       font-size: 15px;
        
       color: 000000;

}
 
 

 
#sdpp{
    /* border: 1px solid green; */
    width: 100%;
    height: auto;
    text-align: center;
      
     font-family: ProximaNovaLight, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif
     ;
       font-size: 10px;
        
       color: 000000;
margin-top: 20px;
}
#sdds{
    /* border: 1px solid green; */
    width: 100%;
    height: 60px;
     margin-top: 30px;
     text-align: center;
    
}
#sdds>input{
    width: 20%;
    height: 40px;
    text-align: center;
}
#sub{
    background-color: blue;
    color: white;
    border: 0px;
}
#sub:hover{
    background-color: rgb(77, 77, 217);
    color: white;
    border: 0px;
}
#sdmid{
    width: 90%;
    margin: auto;
 
    height: 400px;
 
    height: auto;
 
    /* border: 1px solid red; */
    margin-top: 30px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}
 
#sdmid:hover{
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}
 
#sdmid1{
    width: 100%;
    height: 40px;
    /* border: 1px solid black; */
    display: flex;
  column-gap: 20px;
}
#sdmid1>DIV{
    width: auto;
    height: auto;
    font-size: 10px;
    font-family: ProximaNova, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-align: center;
color: rgb(172,172,172);
}
#sdmid1>DIV:hover{
text-decoration: underline;
color: black;
 }
 #mm{
    padding: 10px;
    width: 100%;
 
    height:270px;
 
    /* height:270px; */
 
    /* border: 1px dotted black; */
    margin: auto;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4,1fr);
 
    height: auto;
 
 }
 #mm>div{
    width: 100%;
    height: 60px;
    /* border: 1px dotted blue; */
    text-align: start;
    font-family: ProximaNova, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
color: 484848; 

}
#mm>div:hover{
    text-decoration: underline;
}
#last{
    /* border: 1px dotted red; */
    width: 100%;
    height: 40px;
    margin-top: 40px;
    display: flex;
    color: grey;
    column-gap: 14px;
}
#last>div:hover{
    text-decoration: underline;
    color: black;

}
 
#slpic{
    /* border: 1px dotted red; */
    width: 90%;
    height: 390px;
 
 
 
    /* border: 1px dotted red; */
    width: 90%;
    height: auto;
 
    margin: auto;
    margin-top: 20px;
    margin-bottom: 60px;
}
#slpic>p{
    font-family: ProximaNova, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
font-size: 22.5px;
margin-bottom: 20px;
margin-top: 30px;
}
#pic1{
    /* border: 1px solid green; */
    width: 100%;
 
    height: 350px;
 
    height: auto;
 
    margin: auto;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(4,1fr);
 
   
 
 
    grid-template-rows: auto;
   
}

 
#pic1>div{
    width: 100%;
    height: 350px;
    /* border: 1px solid blue; */
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   text-align: justify;
   cursor: pointer;
}
#pic1>div img{
    width: 100%;
    height: 50%;
    margin-left: -0px;
    margin-top: -0px;
    margin-bottom: 0px;
}
#sd{
    margin-left: 10px;
    color: blue;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: ProximaNova, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
text-align: left;
font-weight: bolder;
}
#pic1>div:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    text-decoration: underline;
}
#fr{
    margin-left: 10px;
}
#th{
    margin-left: 10px;
    font-weight: bolder;
    margin-bottom: 15px;
}
#fo{
    margin-left: 10px;
    color: rgb(145, 145, 255);
    font-size: 15px;
    margin-bottom: 10px;
}
#fi{
    margin-left: 10px;
    color: rgb(73, 73, 133);
}
#map{
    width: 90%;
    height: 500px;
    /* border: 1px dotted green; */
    margin: auto;
}
#map>div>p{
font-family: ProximaNova, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
color: 333333;
font-size: 22.5px;
margin-bottom: 20px;
}

/* #iframe{
    width: 200%;
    height: 400px;
     
} */
iframe{
    width: 100%;
}
#lat{
    width: 90%;
    height: 350px;
    /* border: 1px solid black; */
    margin: auto;
    margin-top: 30px;
}
#lst1{
    /* font-family: ProximaNova, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; */
font-size: 15.5px;
font-weight: lighter;
color: 333333;
margin-bottom: 15px;
}
#lat>p{
    text-align: justify;
}
 
#faq{
    /* border: 1px solid red; */
    width: 90%;
    height: 400px;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 90px;
}
#faq1{
    font-size: 15.5px;
font-weight: lighter;
color: 333333;
margin-bottom: 15px;
font-family: ProximaNova, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
text-align: justify;
}
#fff{
    font-weight: bolder;
    margin-bottom: 15px;
    color: rgb(112,102,102);
font-family: ProximaNova, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
#f{
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(102,102,102);
    font-family: ProximaNova, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
 
}
#sdmid2{
    width: 100%;
    margin: auto;
    height: 400px;
    /* border: 1px solid red; */
    margin-top: 30px;
    /* box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px; */
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}
 
#sdmid12{
    width: 100%;
    height: 40px;
    /* border: 1px solid black; */
    display: flex;
  column-gap: 15px;
}
#sdmid12>DIV{
    width: auto;
    height: auto;
    font-size: 8px;
    /* font-family: ProximaNova, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; */
    text-align: center;
color: rgb(118, 113, 113);
 
 
}
#sdmid12>DIV:hover{
text-decoration: underline;
color: black;
 }
 #data2 img{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
 }
 #mm2{
    padding: 10px;
    width: 100%;
    height:270px;
    /* border: 1px dotted black; */
    margin: auto;
    display: grid;
    /* gap: 5px; */
    grid-template-columns: repeat(6,1fr);
 }
 #mm2>div{
    width: 100%;
    height: 60px;
    /* border: 1px dotted blue; */
    text-align: start;
    font-family: ProximaNova, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
color: 484848; 

}
#mm2>div:hover{
    text-decoration: underline;
}
#tpd{
    margin-left: 75px;
    margin-top: -20px;
}
 #s{
   font-weight: bolder;
    color: white;
    background-color: none;
    cursor: pointer;
 }
 
 #mid{
    /* background-image: url(https://media.istockphoto.com/photos/aerial-view-over-downtown-savannah-towards-talmadge-bridge-at-picture-id1365968425?k=20&m=1365968425&s=612x612&w=0&h=sAZRIHkG6XDzc606vqiTeZK6bCtAHC1srXdWO-5Q7QE=); */
    background-image: url(https://images.unsplash.com/photo-1495365200479-c4ed1d35e1aa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8aG90ZWwlMjBpbWd8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60); 
}
 #info>div:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
 }
 #btn1:hover{
    background-color: blue;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
 }
 #btn:hover{
    background-color: blue;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
 }
  
 #pg{
    font-weight: 500;
 }
 #d2>div img{
    margin-left: 12px;
 }
 #inmid>div img{
    margin-left: -5px;
 }
 
.child2{
    /* border: 1px solid red; */
    cursor: pointer;
     margin-left: -0px;
    
        width: 240px;
}
.parent2{
    display: flex;
    width: 100%;
    height: 200px;
    justify-content: center;
    align-items: center;
    height: 250px;
    margin: auto;
    column-gap: 20px;
    width: 100vw;
     margin-top: -30px;
}
 

.child2 img:hover{
 box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
 
    
}
.child2 img{
 width: 250px;
 height: 150px;
  
  
 margin-left: -0px;
 margin-top: -0px;
  border: 1px dotted gray;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
     
}
#leftarow2 {
    /* margin-left: 0px;
    margin-right: -50px;
    width: 3%;
    display: inline-block; */
    margin-right: -15px;
    margin-left: -10px;
    
}
#leftarow2 button,#rgtarow2 button{
    cursor: pointer;
    font-weight: bold;
    align-items: center;
    font-size: 15px;
    display: inline-block;
}
.chlid img{
    width: 20px;
    height: 150px;
    margin-left: -0px;
    margin-top: -0px;
     border: 1px dotted gray;
}
@media all and (min-width: 400px) and (max-width: 768px) {
    body{
        margin: 0px;
        padding: 0px;
    }
    #pic1{
        /* border: 1px solid green; */
        width: auto;
        height: auto;
        margin: auto;
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: auto;
       
    }
    
    #lat{
        width: auto;
        height: auto;
        margin: 30px;
    }
    #sdmid{
        width: auto;
        margin: auto;
        height: auto;
        /* border: 1px solid red; */
        margin-top: 30px;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    }
    
    #sdmid1{
        width: 100%;
        height: 40px;
        /* border: 1px solid black; */
        display: flex;
      column-gap: 20px;
    }
  
     
     #mm{
        
        margin: auto;
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(2,1fr);
        height: auto;
     }
     #sd1div{
        width: 70%;
        height: auto;
     }
     #faq{
        margin: 30px;
        height: auto;
        width: auto;
     }
    }
    @media all and (min-width: 280px) and (max-width: 400px) {
        body{
            margin: 0px;
            padding: 0px;
        }
        #pic1{
            /* border: 1px solid green; */
            width: 100%;
            height: auto;
            margin: auto;
            display: grid;
            gap: 30px;
            grid-template-columns: repeat(1,1fr);
            grid-template-rows: auto;
           
        }
        
        #lat{
            width: auto;
            height: auto;
            margin: 20px;
        }
        #sdmid{
            width: auto;
            margin: auto;
            height: auto;
            /* border: 1px solid red; */
            margin-top: 30px;
            box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
        }
        
        #sdmid1{
            width: 100%;
            height: auto;
            /* border: 1px solid black; */
            display: flex;
          column-gap: 20px;
        }
      
         
         #mm{
            /* padding: 10px;
            width: 100%; */
            /* height:270px; */
            /* border: 1px dotted black; */
            margin: auto;
            display: grid;
            gap: 10px;
            grid-template-columns: repeat(2,1fr);
            height: auto;
         }
         #sd1div{
            width: 70%;
            height: auto;
         }
         #faq{
            margin: 20px;
            height: auto;
            width: auto;
         }
        }
      
 